<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>get-task-allow</key>
	<true/>
	<key>application-identifier</key>
	<string>RFN59MUTQ3.silkrock.city-of-surf</string>
	<key>com.apple.developer.team-identifier</key>
	<string>RFN59MUTQ3</string>
</dict>
</plist>
